.postContent {
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 2rem;
  }
  p {
    font-size: 18px;
    line-height: 140%;
    text-align: justify;
    color: var(--info);
    margin-bottom: 2rem;
  }
}
