// TODO
.headerContainer {
}

.headerContent {
  height: 105px;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  img {
    flex: 0;
    height: 25px;
    width: 238px;
    cursor: pointer;
  }
}
